{% extends 'base.html.twig' %}

{% block title %}Le plat{% endblock %}

{% block body %}
    <h1>Le plat</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom du plat</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.content }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('admin_article/_delete_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">Retour à la liste des plats</a>

    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">Modifier</a>

   
{% endblock %}
