{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID : </th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Contenu :</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Créer le :</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_comment_index') }}">Retour à la page précédente</a>

    <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}">Modifier</a>

    {{ include('admin_comment/_delete_form.html.twig') }}
{% endblock %}
